<div id="content-topo">

  <div class="sistem-logo pull-left" style="background-image:url(../../assets/SRM_logo.svg);"></div>

  <div class="dropdown pull-right user-alerts">
    <div class="dropdown-btn">
      <div class="alert-number">3</div>
      <i class="far fa-bell"></i>
    </div>
    <div class="dropdown-content">
      <a href="#">Alert A</a>
      <a href="#">Alert B</a>
      <a href="#">Alert C</a>
    </div>
  </div>

  <div class="dropdown pull-right user-menu">
    <div class="dropdown-btn">
        <span class="user-menu-icon">
          <i class="far fa-user"></i>
        </span>
        <span class="user-menu-name">Sandra Oliveira</span>
        <span class="user-menu-icon">
          <i class="fas fa-angle-double-down azul"></i>
        </span>
    </div>
    <div class="dropdown-content">
      <a href="#">Item 1</a>
      <a href="#">Item 2</a>
      <a href="#">Item 3</a>
      <a href="#">Item 4</a>
      <a href="#">Logout</a>
    </div>
  </div>

  <div class="dropdown pull-right drop-default">
    <div class="drop-default-btn">
        <span class="drop-default-name">Visão Agregada 1</span>
        <span class="drop-default-icon">
          <i class="fas fa-angle-double-down azul"></i>
        </span>
    </div>
    <div class="drop-default-content">
      <a href="#">Visão Agregada 2</a>
      <a href="#">Visão Agregada 3</a>
      <a href="#">Visão Agregada 4</a>
      <a href="#">Visão Agregada 5</a>
      <a href="#">Visão Agregada 6</a>
    </div>
  </div>

  <span class="content-topo-label">Grupo Econômico:</span>

</div>