<div id="content-area" class="full-height">

  <div class="row alt1">
    <div class="col-md-12">
        <div class="bread-crumb">
          <a href="#">Página Inicial</a>
          <span class="bread-crumb-spacer"> > </span>
          <a href="#">Painel de Gestão</a>
        </div>
    </div>
  </div>
  
  <div class="row alt2">
    <div class="col-md-7">
      <div class="content-title">
        <img src="../assets/icons/icon1_.svg"/>
        <h2>Painel de Gestão</h2>
      </div>
    </div>
    <div class="col-md-5 align-right">
      <div class="dropdown pull-right drop-default">
        <div class="drop-default-btn">
          <span class="drop-default-name">Todos</span>
          <span class="drop-default-icon">
            <i class="fas fa-angle-double-down azul"></i>
          </span>
        </div>
        <div class="drop-default-content">
          <a href="#">Outros 1</a>
          <a href="#">Outros 2</a>
          <a href="#">Outros 3</a>
        </div>
      </div>
      <span class="content-area-label">Produto:</span>
    </div>
  </div>

  <div class="row">
    <div class="col-md-7">
      <div class="widget widget-mR">
        <h3 class="widget-title">Atalhos</h3>
        <div class="widget-content">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12 col-left">
              <h4 class="widget-subtitle">Operacional</h4>
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <button class="btn-default">Envio</button>
                  <button class="btn-default">Envio de Duplicatas</button>
                  <button class="btn-default">Nova Operação</button>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <button class="btn-default">Assinatura</button>
                  <button class="btn-default">Assinatura Digital</button>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 col-right">
              <h4 class="widget-subtitle">Geral</h4>
              <button class="btn-default">Carteira</button>
              <button class="btn-default">Instruções</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="widget widget-mL">
        <h3 class="widget-title azul">Alertas</h3>
        <div class="widget-content">
          <div class="row">
            <div class="col-md-7 col-sm-12 col-xs-12">
              <label>23 Notas Canceladas</label>
            </div>
            <div class="col-md-5 col-sm-12 col-xs-12">
            </div>
          </div>
          <div class="row">
            <div class="col-md-7 col-sm-12 col-xs-12">
              <label>13 Notas Canceladas</label>
            </div>
            <div class="col-md-5 col-sm-12 col-xs-12">
              <div class="dropdown pull-right drop-default acoes">
                <div class="drop-default-btn">
                  <span class="drop-default-icon">
                    <i class="fas fa-angle-down azul"></i>
                  </span>
                  <span class="drop-default-name">Ações</span>
                </div>
                <div class="drop-default-content">
                  <a *ngFor="let acao of acoes" href="#">
                    {{ acao }}
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7 col-sm-12 col-xs-12">
              <label>7 Notas Canceladas</label>
            </div>
            <div class="col-md-5 col-sm-12 col-xs-12">
              <div class="dropdown pull-right drop-default acoes">
                <div class="drop-default-btn">
                  <span class="drop-default-icon">
                    <i class="fas fa-angle-down azul"></i>
                  </span>
                  <span class="drop-default-name">Ações</span>
                </div>
                <div class="drop-default-content">
                  <a *ngFor="let acao of acoes" href="#">
                    {{ acao }}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>